name: "Godot Build and Upload"
on:
  workflow_dispatch:
  push:
    # branches: [main]

jobs:
  export-godot:
    strategy:
      matrix:
        export_template: ["Windows Desktop", "HTML5"]
        godot_version: [3.4]
    name: Windows Export
    runs-on: ubuntu-latest
    container:
      image: barichello/godot-ci:${{ matrix.godot_version }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          lfs: true
      - name: Setup Export Templates
        run: |
          mkdir -v -p ~/.local/share/godot/templates
          mv /root/.local/share/godot/templates/${{ matrix.godot_version }}.stable ~/.local/share/godot/templates/${{ matrix.godot_version }}.stable
      - name: Build Project
        run: |
          mkdir -v -p "build"
          godot -v --export "${{ matrix.export_template }}"
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.export_template }}
          path: build/
      - name: Publish to GitHub Pages
        if: matrix.export_template == 'HTML5'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
